@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #1E2124;
}


body {
  color: #fff;
  background: var(--background)
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}