@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'chess-icons';
  src: url('/fonts/chess-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-alt';
  src: url('/fonts/MontserratAlt1-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-alt';
  src: url('/fonts/MontserratAlt1-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-alt';
  src: url('/fonts/MontserratAlt1-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--field-border);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: var(--tone-down);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight)
}
