
.wrap {
    filter: drop-shadow(4px 4px 8px rgba(48, 48, 48, 0.5));
}

.mask {
    clip-path: polygon(1.739% 0.048%,98.26% 0.048%,98.26% 0.048%,98.553% 0.077%,98.83% 0.159%,99.085% 0.29%,99.315% 0.464%,99.516% 0.677%,99.684% 0.925%,99.816% 1.201%,99.906% 1.501%,99.952% 1.82%,99.949% 2.153%,91.794% 98.214%,91.794% 98.214%,91.75% 98.502%,91.67% 98.773%,91.557% 99.024%,91.415% 99.252%,91.246% 99.453%,91.053% 99.624%,90.84% 99.763%,90.608% 99.866%,90.363% 99.93%,90.105% 99.952%,1.739% 99.952%,1.739% 99.952%,1.464% 99.927%,1.202% 99.854%,0.959% 99.738%,0.737% 99.581%,0.539% 99.389%,0.37% 99.166%,0.232% 98.914%,0.129% 98.638%,0.065% 98.342%,0.042% 98.031%,0.042% 1.969%,0.042% 1.969%,0.065% 1.658%,0.129% 1.362%,0.232% 1.086%,0.37% 0.834%,0.539% 0.611%,0.737% 0.419%,0.959% 0.262%,1.202% 0.146%,1.464% 0.073%,1.739% 0.048% );
}

.checkbox > input:checked + .checkbox {
    background-color: var(--highlight);
}