.piece {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.piece.pawn.black {
    background-image: url('/images/pieces/black/pawn.png');
}

.piece.rook.black {
    background-image: url('/images/pieces/black/rook.png');
}

.piece.knight.black {
    background-image: url('/images/pieces/black/knight.png');
}

.piece.bishop.black {
    background-image: url('/images/pieces/black/bishop.png');
}

.piece.queen.black {
    background-image: url('/images/pieces/black/queen.png');
}

.piece.king.black {
    background-image: url('/images/pieces/black/king.png');
}

.piece.pawn.white {
    background-image: url('/images/pieces/white/pawn.png');
}

.piece.rook.white {
    background-image: url('/images/pieces/white/rook.png');
}

.piece.knight.white {
    background-image: url('/images/pieces/white/knight.png');
}

.piece.bishop.white {
    background-image: url('/images/pieces/white/bishop.png');
}

.piece.queen.white {
    background-image: url('/images/pieces/white/queen.png');
}

.piece.king.white {
    background-image: url('/images/pieces/white/king.png');
}